{% include "indexOrigin.html" %}

<body>
  <section class="showcase">
    <header>
      <h2 class="logo">BarberShop</h2>
      <div class="toggle"></div>
    </header>
    <div class="overlay"></div>
    <div class="text">
      <h2>BarberShop & Dev </h2> 
      <h3>Auto Cuidado e Programação</h3>
      <p>Venha para a CodeCortes e experimente a sensação de uma barba perfeitamente alinhada, tão suave
         quanto uma query SQL bem otimizada. Deixe-nos te levar ao próximo nível de estilo, onde cada
          linha de código é uma linha de beleza em sua aparência. Agende sua consulta agora e prepare-se<br>
           para uma experiência de barbearia como nenhuma outra.<br><br></p>
           <a href="escolha.html">Agende Conosco</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
  </section>
  <div class="menu">
  </div>
</body>