{% include "indexOrigin.html" %}

<body>
    <div class="ccontainer">
         <br> 
         <h1>Opções Disponiveis</h1>
        <br>
        <br>
        <br>

        <div class="row">
            <div class="column">
              <a href="agenda.html">
                <div class="square">
                  <img src="https://i.pinimg.com/564x/39/bc/79/39bc796c4f455bfca868a673a8670d1e.jpg" alt="cabelo">
                </div>
                
              </a>
              <div class="numvalor">
                <h1 class="tittle_valor">Apenas Cabelo</h1>
                <p>R$45,00 - 00h30</p>
              </div>
            </div>
            <div class="column">
              <a href="agenda.html">
                <div class="square">
                  <img src="https://i.pinimg.com/564x/b2/69/da/b269dabed5602010d7dac299c3e30cf6.jpg" alt=" barba">
                </div>
                
              </a>
              <div class="numvalor">
                <h1 class="tittle_valor">Apenas a Barba</h1>
                <p>R$40,00 - 00h30</p>
              </div>
            </div>
            <div class="column">
              <a href="agenda.html">
                <div class="square">
                  <img src="https://i.pinimg.com/564x/54/86/78/5486781f1b066a7ea9aef63e99983979.jpg" alt="barba e cabelo">
                </div>
                
                
                  
              </a>
              <div class="numvalor">
                <h1 class="tittle_valor">Cabelo e Barba</h1>
                <p>R$80,00 - 01h00</p>
              </div>
            </div>
          </div>
</body>
